@import "bootstrap-override";
@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.75px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $app-max-width;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.capitalized {
  text-transform: uppercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.no-uppercase {
  text-transform:none;
}

.no-wrap {
  white-space:nowrap;
}

input.input-center-text {
  text-align: center;
}

.btn, .form-control {
  border-radius: 15px;
}

.card {
  border-radius: 0;
  box-shadow: 5px 5px 10px 0px #cccccc;
}

.card-header, .alert {
  border-radius: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-page {
  & strong {
    font-weight: 800;
  }
  
  & p, & ul {
    line-height: 2;
    letter-spacing: 1px;

    & li {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }

  & h2,
  & h4,
  & h6 {
    color: map-get($theme-colors, primary);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}